img {
   
    width: 90px;
    
    height: 90px;
    
    float: left;
    
    }
    
    #idCard {
    
    border: 5px solid black;
	border-radius: 1.5em;
    
    height: 14em;
    
    width: 25em;
    
    }