body {
    background-color: teal;
    margin: auto;
    text-align: center;
}

form {

    font-weight: bolder;
   
}

#getID {

   cursor: pointer;
   margin: 1em 0em;

}

img {
   
    width: 90px;
    
    height: 90px;
    
    float: left;
    
}

    
#idCard {
    
    margin: 5em auto;
    
    border: 5px solid black;
    
    border-radius: 1.5em;
    
    background-color: salmon;

    height: 14em;
    
    width: 25em;

    font-family: 'Balsamiq Sans', cursive;
    
}

#postFullName {

   position: relative;
   top: 0.9em;
   display: inline;
   font-size: 30px;
   margin: 27px 0px 0px 0px;
   
}

#postAge {
   
   position: relative;
   text-align: left;
   top: 3.1em;
   left: -4.9em;
   

}

#postPhoneNumber {
   
   position: relative;
   text-align: left;
   left: 0.67em; 
   top: 1.0em;  

}

#postAddress {
   
   position: relative;
   text-align: left;
   left: 0.67em;
   top: -1.2em;   

}


.idLabel{

    margin: 0.2em;
    border-radius: 0.4em;
    padding: 0.15em 0.15em 0.15em 0.3em;
}
